/* ========== START GLOBAL STYLES ========== */
:root{
    --TopnavBg: #23856D;
    --BgColor: #ffffff;
    --textBlack: #000;
    --Brand-black: #252B42;
    --Navs-black: #737373;
    --SkyBlue: #23A6F0;
    --body-font: "Montserrat", sans-serif;
    --BadgeBg:#E74040;
    --FootTopBg: #FAFAFA;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
} 
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--Navs-black);
} 

/* ========== END GLOBAL STYLES ========== */

.foot_brand_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 11rem;
    background-color: var(--FootTopBg);
}
.foot_social{
    display: flex;
    gap: 1rem;
}

.foot_features{
    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: repeat(5, 1fr);
    padding: 1rem 11rem;
}
.foot_item{
    display: grid;
    row-gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.copyright_section{
    padding: 2rem 11rem;
    background-color: var(--FootTopBg);
    color: var(--Navs-black);
    font-size: 14px;
    font-weight: 700;
}