.wrap {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.container{
    width: 1128px;
    display: flex;
    justify-content: space-between;
}

.left{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left > section {
    width: 438px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.left > section > h6 {
    text-align: center;
}

.right{
    width: 45%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media only screen and (max-width: 414px){
    .wrap {
        width: 400px;
    }

    .container {
        width: 400px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 37px;
    }

    .left, .right {
        width: 370px;
    }

    .right > img {
        width: 112px;
        height: 112px;
    }
}